<footer class="mt-5">
    <div class="section__container footer__container">
      <div class="footer__col">
        <h4>About Us</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
          dignissimos illum inventore recusandae fugit debitis. Facere nemo
          error quam commodi saepe nesciunt vitae ex porro, dolorem laborum
          impedit quo itaque a necessitatibus laboriosam ad ipsam! Ducimus
          quia assumenda animi inventore et laboriosam dignissimos, facilis
          corrupti voluptatibus, repudiandae voluptates, molestiae accusamus?
        </p>
      </div>
      <div class="footer__col">
        <h4>Medical Info</h4>
        <p>Menu</p>
        <p>Guides</p>
        <p>Plans</p>
        <p>About Us</p>
        <p>Contact Us</p>
      </div>
      <div class="footer__col">
        <h4>Information</h4>
        <p>check-up Cards</p>
        <p>Find a doctor,room,etc</p>
        <p>Discounts</p>
      </div>
    </div>
    <div class="footer__bar">
      <p>Copyright © Hack Hunters . All rights reserved.</p>
      <div class="socials">
        <span><i class="ri-facebook-fill"></i></span>
        <span><i class="ri-twitter-fill"></i></span>
        <span><i class="ri-linkedin-box-fill"></i></span>
        <span><i class="ri-pinterest-line"></i></span>
        <span><i class="ri-youtube-fill"></i></span>
      </div>
    </div>
  </footer>