<!-- 
<nav>
    
    <ul class="nav__links">
      <li class="link">Find a Doctor</li>
      <li class="link">Find a Hospital</li>
      <li class="link">Book an Ambulance</li>
      <li class="link"><a href="medicines">Medicines</a></li>
      <button class="btn1"><li class="link">Premium</li></button>
      <button class="login btn1"  onclick=showloginform()>Login</button>
    </ul>
  </nav> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="nav__logo">🏥Thrivefy</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Find a Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Find a Hospital</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Find a Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="medicines">Medicines</a>
          </li>
         
        </ul>

          <button class="btn1">Premium</button>&nbsp;
          <button class="login btn1 btn btn-outline-success" onclick=showloginform()>Login</button>
        
      </div>
    </div>
  </nav>