<nav>
    <div class="nav__logo"><span>Medi</span>Cure</div>
    <ul class="nav__links">
      <li class="link">Find a Doctor</li>
      <li class="link">Find a Hospital</li>
      <li class="link">Book an Ambulance</li>
      <li class="link">Medicines</li>
      <button class="btn1"><li class="link">Premium</li></button>
      <button class="login btn1"  onclick=showloginform()>Login</button>
    </ul>
  </nav>