.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.medicines img{
    width: 12rem;
}
.medicines{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.medicines .medicine{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    width: 17rem;
    height: 27rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px black;
    transition: all linear .2s;

}
.info{
    display: flex;
    justify-content: space-between;
}
.medicines .medicine button{
    padding: .5rem;
    border: none;
    background-color: rgb(47, 43, 43);
    color: white;
    border-radius: .5rem;
    margin-top: .5rem;
    transition: all linear .3s;
}
.medicines .medicine button:hover{
    background-color: rgb(206, 206, 206);
    color: black;
}
.medicine:hover{
    transform: scale(1.05);
}